<?php

// Database
define("BDD_HOST", 'localhost');
define("BDD_USER", 'root');
define("BDD_MDP", 'root');
define("BDD_NAME", 'cepsaintmaur');
define('PREFIXE_DB', 'cep_');

// Path constants
define('SITE_PATH', 'http://cepsaintmaur.fr/'); // Always a slash at the end (for IE)

// Others
define('DEBUG', false);
