{% extends 'base.html.twig' %}

{% block content %}
<article id="administrationPage" class="page">
	<header>
		<h1><a href="administration.html">Administration</a>{% block SubTitle %}{% endblock %}</h1>
	</header>
	{% block Question %}
	{% endblock %}
	
	{% block AdministrationBody %}
	{% endblock %}
</article>
{% endblock content %}

{% block css %}
<link rel="stylesheet" type="text/css" title="{{SiteNom}} - Admin" href="{{CssPath}}admin.min.css" />
{% endblock %}

{% block js %}
<script src="{{JsPath}}admin.min.js"></script>
{% endblock %}