{% extends 'base.html.twig' %}

{% block content %}
<article id="actualites" class="actualitesPage page">
	<header>
		<h1><a href="evenements.html">Dernières Nouvelles</a></h1>
    	<p>&raquo; <a href="evenements.html">Voir les autres événements</a></p>
	</header>
	<article class="actualite">
	<header>
		<h2>{{actualite.titre}}</h2>
		<p>{{actualite.dateTimeStart|date('d/m/Y')}}</p>
	</header>
	<div class="texte">{{actualite.contenu|raw}}</div>
	<div style="clear: both;"></div>
</article>
{% endblock content %}
